:root {
  --size: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  background: hsl(0, 0%, 10%);
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: hsl(0 0% 6%);
  background: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 98%, 1) 0deg,
    #eec32d 72.0000010728836deg,
    #ec4b4b 144.0000021457672deg,
    #709ab9 216.00000858306885deg,
    #4dffbf 288.0000042915344deg,
    hsla(0, 0%, 98%, 1) 1turn
  );
  width: 100%;
  height: 100%;
  mask: radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size)
      var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 80%; /* Adjust to your preference */
  margin: auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: fit-content; 
}

.carousel img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin: 0;
  font-size: clamp(6rem, 8vw + 1rem, 14rem);
  font-family: "Geist", sans-serif;
  font-weight: 140;
  color: hsl(0 0% 2%);
  mix-blend-mode: soft-light;
  filter: drop-shadow(0 0 2px white);
  text-shadow: 2px 2px white;
}

@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  background: #111;
  padding: 3px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: inline-block;
  background-color: #222;
  padding: 3px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo-container:hover {
  background-color: #333;
}

.navbar-logo {
  width: 12vh;
  height: auto;
  cursor: pointer;
}

nav button.invisible {
  visibility: hidden;
  pointer-events: none;
  width: 15vh;
}

nav button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  margin: 0 15px;
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav button:hover {
  color: #fff;
}

nav button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav button:hover:after {
  width: 100%;
  left: 0;
}
